/* Home.css */
.home {
    text-align: center;
    background-color: lightgray;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.welcome {
    padding: 1rem;
    font-size: 1.5rem;
    /* Larger font for better readability */
}

.button-row {
    display: flex;
    margin-bottom: 10px;
    height: calc((100% - 10px) / 3.7);
    gap: 10px;
    justify-content: center;
    /* width: 80%; */
}

.button-row .button-large {
    flex: 3;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: gray 0 0 20px;
}

.button-row .button-small {
    flex: 2;
    padding: 20px;
    font-size: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: gray 0 0 20px;
}

.button-row button {
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-row button:hover {
    background-color: #555;
    color: wheat;
    font-size: xx-large;
}

.button-container {
    width: 100vh;
    height: 100vh;
    margin: 0 200px;
}

/* Responsive layout */
@media (max-width: 768px) {
    .button-row {
        align-items: center;
        gap: 0;
        height: calc((100% - 40px) / 4);
    }

    .button-row .button-large,
    .button-row .button-small {
        width: 100%;
        height: 100%;
        /* margin-bottom: 10px; */
        padding: 15px;
    }

    .button-row .button-large:last-child,
    .button-row .button-small:last-child {
        /* margin-bottom: 0; */
    }

    .button-container {
        width: 100%;
    }

}